<a href="https://colab.research.google.com/github/yuvshan05/oopsusingpython/blob/main/oops_python_me01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class employee:
  def __init__(self , name , age , level):
    self.name=name
    self.age=age
    self.level=level

kamlesh=employee("kamlesh",21,"software engineer")
print(kamlesh.name)

kamlesh

In [8]:
class employee:
  def __init__(self , name , age , level):
    self.name=name
    self.age=age
    self.level=level
  def coder(self):
    print(f'{self.name} is a coder')

kamlesh=employee("kamlesh",21,"software engineer")


kamlesh.coder()

kamlesh is a coder

In [18]:
class boss(employee):
  def __init__(self,name,age,level,occupation):
    super().__init__(name,age,level)
    self.occupation=occupation
  def isboss(self):
    print(f'{self.name} is boss')


yuvraj=boss("yuvshan",20,"ceo","engineer")
yuvraj.isboss()
print(yuvraj.occupation)
yuvraj.coder()

yuvshan is boss
engineer
yuvshan is a coder

In [27]:
class kk(employee):
  def __init__(self,name,age,level):
    super().__init__(name,age,level)
    self.name=name
    self.age=age
    self.level=level
    self._cash=None
  def getcash(self):
    return self._cash
  def setcash(self,value):
    self._cash=value
yu=kk("yuvraj",20,"engineer")
yu.setcash(56025)
print(yu.getcash())

56025